* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: montserrat;
  text-decoration: none;
  list-style: none;
}

header,
footer {
  background-color: #383838;
  color: #fff;
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header h1,
footer h1 {
  font-size: 24px;
}

header .burger-container,
footer .burger-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

header .burger-container .burger, header .burger-container .burger::before, header .burger-container .burger::after,
footer .burger-container .burger,
footer .burger-container .burger::before,
footer .burger-container .burger::after {
  height: 3px;
  width: 20px;
  background: #fff;
  border-radius: 4px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

header .burger-container .burger::before,
footer .burger-container .burger::before {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

header .burger-container .burger::after,
footer .burger-container .burger::after {
  content: "";
  position: absolute;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

header .burger-container.burger-open .burger, header .burger-container.burger-open .burger::before, header .burger-container.burger-open .burger::after,
footer .burger-container.burger-open .burger,
footer .burger-container.burger-open .burger::before,
footer .burger-container.burger-open .burger::after {
  width: 0;
  height: 0;
}

header .burger-container.burger-open .burger::before,
footer .burger-container.burger-open .burger::before {
  -webkit-transform: rotate(45deg) translate(-8px, 6px);
          transform: rotate(45deg) translate(-8px, 6px);
  height: 3px;
  width: 20px;
}

header .burger-container.burger-open .burger::after,
footer .burger-container.burger-open .burger::after {
  -webkit-transform: rotate(-45deg) translate(-6px, -8px);
          transform: rotate(-45deg) translate(-6px, -8px);
  height: 3px;
  width: 20px;
}

header nav,
footer nav {
  position: fixed;
  top: 10vh;
  right: -60%;
  bottom: 0;
  z-index: 2;
  background: rgba(56, 56, 56, 0.9);
  color: #000;
  width: 60%;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  max-width: 350px;
}

header nav ul,
footer nav ul {
  list-style: none;
  padding: 20px;
}

header nav ul li,
footer nav ul li {
  height: 50px;
}

header nav ul li a,
footer nav ul li a {
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li img,
footer nav ul li img {
  width: 20px;
  margin-right: 5px;
}

main {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fddb92), to(#d1fdff));
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  background-repeat: no-repeat;
  -webkit-animation: moveIn 1s ease-in;
          animation: moveIn 1s ease-in;
  position: relative;
  height: calc(75vh - 30px);
  padding-top: 10px;
  overflow: hidden;
}

main .slider .slick-track {
  height: 100%;
  width: 100%;
}

main .slider,
main .slider-desktop {
  opacity: 0;
  height: 100%;
  -webkit-animation: moveIn 0.5s ease-in 0.5s forwards;
          animation: moveIn 0.5s ease-in 0.5s forwards;
  width: 85%;
  margin: 0 auto;
}

main .slider div *,
main .slider-desktop div * {
  margin: 20px auto;
  text-align: center;
}

main .slider div img,
main .slider-desktop div img {
  max-width: 250px;
}

main .slider div p,
main .slider-desktop div p {
  color: #000;
}

main .slider div a:last-child,
main .slider-desktop div a:last-child {
  color: #000;
  padding: 12px 24px;
  background: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.slider .slick-dots {
  bottom: 10px;
}

.slider .slick-prev,
.slider .slick-next {
  height: 40%;
  width: 30px;
}

@-webkit-keyframes moveIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  position: relative;
  opacity: 0;
  background: #fff;
  color: #000;
  margin-top: 20px;
  -webkit-animation: moveIn 1s ease-in forwards;
          animation: moveIn 1s ease-in forwards;
  z-index: -1;
}

footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  width: 60%;
}

footer .redes-sociales {
  width: 40%;
  max-width: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer ul:first-child {
  margin-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer img {
  width: 30px;
  height: 30px;
}

/*-------------------Productos-----------------------*/
.products-main {
  padding: 0;
  overflow: visible;
  height: auto;
  background: none;
}

.products-main .filtro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #fff;
  padding: 10px 0;
}

.products-main .filtro-container > div {
  width: 45%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid;
  border-radius: 5px;
  font-weight: bold;
}

.products-main .filtro-container .orden {
  display: none;
  opacity: 0;
}

.products-main .filtro-container .orden ul li {
  font-size: 14px;
}

.products-main .filtros {
  text-transform: capitalize;
  width: 50%;
  height: 100%;
  position: absolute;
  display: none;
}

.products-main .productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.products-main .productos > li {
  width: 45%;
  margin: 20px auto;
  border-radius: 5px;
}

.products-main .productos > li .slider-for img {
  max-width: 100%;
  height: 200px;
  width: 215px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.products-main .productos > li .slider-nav .slick-next {
  right: 0px;
}

.products-main .productos > li .slider-nav .slick-prev {
  left: 0;
  z-index: 1;
}

.products-main .productos > li .slider-nav .slick-slide img {
  height: 80px;
  width: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin: 5px 0;
}

.products-main .productos > li > img {
  max-width: 100%;
  height: 200px;
  width: 215px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.products-main .productos > li h2 {
  font-size: 18px;
  min-height: 50px;
}

.products-main .productos > li > p:first-of-type {
  display: none;
}

.products-main .productos > li .precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-main .productos > li .precio p {
  font-weight: bold;
}

.products-main .productos > li .precio a {
  border: 1px solid;
  padding: 12px;
  border-radius: 5px;
  background: #383838;
  color: #fff;
  border: 1px solid;
  padding: 12px;
  border-radius: 5px;
  background: #383838;
  color: #fff;
}

.products-main .productos li .slider-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 90vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-main .productos li .slider-active .img-slider-cont {
  width: 85%;
}

.products-main .productos li .slider-active .img-slider {
  width: 100%;
}

.products-main .productos li .slider-active .slick-next {
  right: 0;
}

.products-main .productos li .slider-active .slick-prev {
  left: 0;
  z-index: 2;
}

@media screen and (min-width: 750px) {
  header {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  header .burger-container {
    display: none;
  }
  header nav {
    right: 0;
    top: 0;
    max-width: none;
    width: 100%;
    position: relative;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
  }
  .slick-list {
    height: 100%;
  }
  .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider div,
  .slider-desktop div {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider div .texto,
  .slider-desktop div .texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .slider-desktop div p {
    width: 90%;
  }
  main .slider-desktop div img {
    max-width: 300px;
  }
  footer ul:first-child {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header nav {
    max-width: 700px;
  }
  main {
    height: calc(80vh - 30px);
  }
}
/*# sourceMappingURL=style.css.map */