* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
    text-decoration: none;
    list-style: none;
}

header,
footer {
    background-color: rgb(56, 56, 56);
    color: #fff;
    height: 10vh;
    width: 100%;
    //position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
    position: sticky;
    top: 0;

    h1 {
        font-size: 24px;
    }

    .burger-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        right: 0;
        top: 0;
        cursor: pointer;
        transition: all ease-in-out 0.5s;

        .burger {
            height: 3px;
            width: 20px;
            background: #fff;
            border-radius: 4px;
            transition: all ease-in-out 0.5s;

            &::before {
                @extend .burger;
                content: "";
                position: absolute;
                transform: translateY(-8px);
            }

            &::after {
                @extend .burger;
                content: "";
                position: absolute;
                transform: translateY(8px);
            }
        }
    }

    .burger-container.burger-open .burger {
        width: 0;
        height: 0;

        &::before {
            transform: rotate(45deg) translate(-8px, 6px);
            height: 3px;
            width: 20px;
        }

        &::after {
            transform: rotate(-45deg) translate(-6px, -8px);
            height: 3px;
            width: 20px;
        }
    }

    nav {
        position: fixed;
        top: 10vh;
        right: -60%;
        bottom: 0;
        z-index: 2;
        background: rgba(56, 56, 56, 0.9);
        color: #000;
        width: 60%;
        transition: all ease-in 0.5s;
        max-width: 350px;

        ul {
            list-style: none;
            padding: 20px;

            li {
                height: 50px;

                a {
                    height: 100%;
                    color: #fff;
                    display: flex;
                    align-items: center;
                }

                img {
                    width: 20px;
                    margin-right: 5px;
                }
            }
        }
    }
}

main {
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    background-repeat: no-repeat;
    animation: moveIn 1s ease-in;
    position: relative;
    height: calc(75vh - 30px);
    padding-top: 10px;
    overflow: hidden;

    .slider .slick-track {
        height: 100%;
        width: 100%;
    }

    .slider,
    .slider-desktop {
        opacity: 0;
        height: 100%;
        animation: moveIn 0.5s ease-in 0.5s forwards;
        width: 85%;
        margin: 0 auto;

        div {
            * {
                margin: 20px auto;
                text-align: center;
            }

            img {
                max-width: 250px;
            }

            p {
                color: #000;
            }

            a:last-child {
                color: #000;
                padding: 12px 24px;
                background: #fff;
                border-radius: 5px;
                font-weight: bold;
            }
        }
    }
}

.slider .slick-dots {
    bottom: 10px;
}

.slider .slick-prev,
.slider .slick-next {
    height: 40%;
    width: 30px;
}

@keyframes moveIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

footer {
    position: relative;
    opacity: 0;
    background: #fff;
    color: #000;
    margin-top: 20px;
    animation: moveIn 1s ease-in forwards;
    z-index: -1;

    ul {
        list-style: none;
        display: flex;
        font-size: 12px;
        width: 60%;
    }

    .redes-sociales {
        width: 40%;
        max-width: 200px;
        justify-content: space-around;
    }

    ul:first-child {
        margin-left: 5px;
        flex-direction: column;
    }

    img {
        width: 30px;
        height: 30px;
    }
}

/*-------------------Productos-----------------------*/

.products-main {
    padding: 0;
    overflow: visible;
    height: auto;
    background: none;

    .filtro-container {
        display: flex;
        justify-content: space-around;
        background: #fff;
        padding: 10px 0;

        >div {
            width: 45%;
            text-align: center;
            height: 40px;
            line-height: 40px;
            border: 1px solid;
            border-radius: 5px;
            font-weight: bold;
        }

        .orden {
            display: none;
            opacity: 0;

            ul {
                li {
                    font-size: 14px;
                }
            }
        }
    }

    .filtros {
        text-transform: capitalize;
        width: 50%;
        height: 100%;
        position: absolute;
        display: none;
    }

    .popup-img {
        display: none;
        position: absolute;
        z-index: 2;
        align-items: center;
        justify-content: center;
        height: 90vh;
        background: rgba(0, 0, 0, .7);

        div {
            position: absolute;
            top: 5%;
            right: 20px;
            height: 3px;
            width: 20px;
            background: #fff;
            transform: rotate(45deg);


            &::after {
                @extend div;
                content: '';
                transform: rotate(90deg) translate(0px, -20px);
            }
        }

        img {
            max-width: 100%;
            max-height: 95%;
        }
    }

    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;

        >li {
            width: 45%;
            margin: 20px auto;
            border-radius: 5px;

            .slider-for {
                img {
                    max-width: 100%;
                    height: 200px;
                    width: 215px;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }

            .slider-nav {
                .slick-next {
                    right: 0px;
                }

                .slick-prev {
                    left: 0;
                    z-index: 1;
                }

                .slick-slide {
                    img {
                        height: 80px;
                        width: 95%;
                        object-fit: cover;
                        border-radius: 5px;
                        margin: 5px 0;
                    }
                }
            }

            >img {
                max-width: 100%;
                height: 200px;
                width: 215px;
                object-fit: cover;
                border-radius: 5px;
            }

            h2 {
                font-size: 18px;
                min-height: 50px;
            }

            >p:first-of-type {
                display: none;
            }

            .precio {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-weight: bold;
                }

                a {
                    border: 1px solid;
                    padding: 12px;
                    border-radius: 5px;
                    background: #383838;
                    color: #fff;
                    border: 1px solid;
                    padding: 12px;
                    border-radius: 5px;
                    background: #383838;
                    color: #fff;
                }
            }
        }
    }
}

.products-main .productos li .slider-active {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    .img-slider-cont {
        width: 85%;
    }

    .img-slider {
        width: 100%;
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
        z-index: 2;
    }
}

@media screen and (min-width: 750px) {
    header {
        height: auto;
        flex-direction: column;
        padding: 10px;

        .burger-container {
            display: none;
        }

        nav {
            right: 0;
            top: 0;
            max-width: none;
            width: 100%;
            position: relative;

            ul {
                display: flex;
                justify-content: space-around;
                padding: 0;
            }
        }
    }

    .slick-list {
        height: 100%;
    }

    .slick-track {
        display: flex;
        align-items: center;
    }

    .slider,
    .slider-desktop {
        div {
            display: flex !important;
            align-items: center;

            .texto {
                display: flex;
                flex-direction: column;
            }
        }
    }

    main .slider-desktop div p {
        width: 90%;
    }

    main .slider-desktop div img {
        max-width: 300px;
    }

    footer ul:first-child {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    header {
        flex-direction: row;
        justify-content: space-around;

        nav {
            max-width: 700px;
        }
    }

    main {
        height: calc(80vh - 30px);
    }
}